header {
    font-size: 36px;
    text-align: center;
    color: red;
    display: inline-block;
    padding-top: 10px;
    margin: 0;
    width: 100%;
    height: 10%;
}

body {
    background-color: #99CCFF;
}

div {
    color: black;
    font-size: 28px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.main {
    color: fuchsia;
}

.secondary {
    color: blue;
}

p {
    color: black;
    text-align: left;
    font-size: 20px;
    margin: auto;
    margin-bottom: 5px;
    border-style: solid;
    width: 75%;
    padding: 10px;
}

#bottom {
    margin-bottom: 5px;
}

footer {
	position: fixed;
    text-align: center;
    padding: 20px 10px 0px 10px;
    bottom: 0px;
    margin-left: -20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    font-size: 16px;
    height: 4%;
}
